@use "../core/tokens" as *;

.delete-dialog-actions {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 0.5rem;
}


.mud-dialog .mud-dialog-title {
    position: relative;
    display: flex;
    min-height: 3.5rem;
    box-sizing: border-box;
    align-items: center;
}

.mud-dialog .mud-dialog-title .mud-button-close {
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: $mobile-breakpoint) {
    .delete-dialog-actions {
        flex-direction: column;
        align-items: stretch;

        .mud-button-root {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }
}
